#Python virtual environments
venv/
.venv/

#Python cache
__pycache__/
*.pyc

#VS code
.vscode/

#Test report temporary files
*.log

# test_data.json file
02_Capstone_Project/Capstone_1_Selenium_ECommerce/test_data/test_data.json